.nav li {display: inline; margin-top: 10px;}
.footer li {display: inline;}
h1 {color:blue; margin-left:10px;}
p {margin-left:10px; color:purple; margin-top: 10px;}
img {margin-left:10px;}
.jumbotron {background-image:url(http://placepuppy.it/images/homepage/Golden_Retriever_10weeks.jpg);}
