.nav li {display: inline; margin-top: 10px;font-weight:bold;}
.footer li {display: inline;}
h1 {color:blue; margin-left:10px;}
p {margin-left:10px; color:purple; margin-top: 10px;}
img {margin-left:10px;}
