.nav li {display: inline; position: left;}

.jumbotron p {font-size: 28px; color:rgb(255,255,255);}

.jumbotron {background-image: url(http://static.guim.co.uk/sys-images/Travel/Pix/pictures/2010/3/11/1268335400986/Away-resort-on-Koh-Kood-T-001.jpg);}

.jumbotron h2{font-size: 60px; color: rgb(255,255,255);
}